.elementor-12 .elementor-element.elementor-element-299bb3c>.elementor-container {
    max-width: 1350px;
}

.elementor-12 .elementor-element.elementor-element-299bb3c>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-299bb3c {
    padding: 110px 0px 110px 0px;
}

.elementor-12 .elementor-element.elementor-element-6c7c9fe {
    padding: 0% 15% 0% 0%;
}

.elementor-12 .elementor-element.elementor-element-03072c8 {
    text-align: left;
}

.elementor-12 .elementor-element.elementor-element-91a8ad4 {
    padding: 0% 15% 0% 0%;
}

.elementor-12 .elementor-element.elementor-element-d65d837 {
    text-align: left;
}

.elementor-12 .elementor-element.elementor-element-de9b0dd {
    padding: 0% 15% 0% 0%;
}

.elementor-12 .elementor-element.elementor-element-ee0aaee>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-ef8364c>.elementor-container {
    max-width: 1350px;
}

.elementor-12 .elementor-element.elementor-element-ef8364c>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-12 .elementor-element.elementor-element-ef8364c {
    padding: 110px 0px 110px 0px;
}

.elementor-12 .elementor-element.elementor-element-d9a4710>.elementor-element-populated {
    padding: 0% 0% 0% 15%;
}

.elementor-12 .elementor-element.elementor-element-e225d3a {
    text-align: left;
}

.elementor-12 .elementor-element.elementor-element-a06fa73 {
    text-align: left;
}

.elementor-12 .elementor-element.elementor-element-a06fa73>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
    padding: 0% 0% 0% 0%;
}

.elementor-12 .elementor-element.elementor-element-2d8a8bf {
    margin-top: -20px;
    margin-bottom: 0px;
}

.elementor-12 .elementor-element.elementor-element-9cd7b4a>.elementor-container {
    max-width: 1350px;
}

.elementor-12 .elementor-element.elementor-element-9cd7b4a:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-9cd7b4a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E9EAEB;
}

.elementor-12 .elementor-element.elementor-element-9cd7b4a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 110px 0px 90px 0px;
}

.elementor-12 .elementor-element.elementor-element-9cd7b4a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-12 .elementor-element.elementor-element-b158f7f {
    text-align: left;
}

.elementor-12 .elementor-element.elementor-element-fb9f943 {
    text-align: left;
}

.elementor-12 .elementor-element.elementor-element-fb9f943>.elementor-widget-container {
    margin: 55px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-8ed5004>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
}

.elementor-12 .elementor-element.elementor-element-34396b9>.elementor-container {
    max-width: 1350px;
}

.elementor-12 .elementor-element.elementor-element-34396b9:not(.elementor-motion-effects-element-type-background),
.elementor-12 .elementor-element.elementor-element-34396b9>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #E9EAEB;
}

.elementor-12 .elementor-element.elementor-element-34396b9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 100px 0px;
}

.elementor-12 .elementor-element.elementor-element-34396b9>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(min-width:768px) {
    .elementor-12 .elementor-element.elementor-element-f16730c {
        width: 42%;
    }
    .elementor-12 .elementor-element.elementor-element-d9a4710 {
        width: 58%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-12 .elementor-element.elementor-element-6c24241 {
        width: 100%;
    }
    .elementor-12 .elementor-element.elementor-element-4d3f093 {
        width: 100%;
    }
    .elementor-12 .elementor-element.elementor-element-f16730c {
        width: 100%;
    }
    .elementor-12 .elementor-element.elementor-element-d9a4710 {
        width: 100%;
    }
    .elementor-12 .elementor-element.elementor-element-c7d52af {
        width: 50%;
    }
    .elementor-12 .elementor-element.elementor-element-40b29e1 {
        width: 50%;
    }
    .elementor-12 .elementor-element.elementor-element-2cff628 {
        width: 50%;
    }
    .elementor-12 .elementor-element.elementor-element-f5b778e {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-12 .elementor-element.elementor-element-ee0aaee>.elementor-widget-container {
        margin: 100px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-d9a4710>.elementor-element-populated {
        padding: 10px 10px 10px 10px;
    }
    .elementor-12 .elementor-element.elementor-element-e225d3a>.elementor-widget-container {
        margin: 100px 0px 0px 0px;
    }
}

@media(max-width:767px) {
    .elementor-12 .elementor-element.elementor-element-299bb3c {
        padding: 50px 0px 50px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-6c7c9fe {
        padding: 0% 0% 0% 0%;
    }
    .elementor-12 .elementor-element.elementor-element-91a8ad4 {
        padding: 0% 0% 0% 0%;
    }
    .elementor-12 .elementor-element.elementor-element-ee0aaee>.elementor-widget-container {
        margin: 50px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-ef8364c {
        padding: 50px 0px 50px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-e225d3a>.elementor-widget-container {
        margin: 50px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-7149f9d>.elementor-widget-container {
        margin: 0px 0px 20px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-9cd7b4a {
        padding: 50px 0px 50px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-fb9f943>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-12 .elementor-element.elementor-element-34396b9 {
        padding: 0px 0px 50px 0px;
    }
}