.elementor-138 .elementor-element.elementor-element-3efb8a8>.elementor-container {
    max-width: 1350px;
}

.elementor-138 .elementor-element.elementor-element-3efb8a8>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-138 .elementor-element.elementor-element-de23316 .mil-logo {
    justify-content: left;
}

.elementor-138 .elementor-element.elementor-element-57b9be9.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

@media(max-width:767px) {
    .elementor-138 .elementor-element.elementor-element-0fdaa93 {
        width: 60%;
    }
    .elementor-138 .elementor-element.elementor-element-57b9be9 {
        width: 40%;
    }
}

@media(min-width:768px) {
    .elementor-138 .elementor-element.elementor-element-0fdaa93 {
        width: 27%;
    }
    .elementor-138 .elementor-element.elementor-element-57b9be9 {
        width: 73%;
    }
}